.add{
    display: flex;
    justify-content: space-around;
}
.addCart{
    font-family: "Balsamiq sans", cursive;
    text-decoration: none;
    color: var(--clr-neon);
    border: currentColor 0.125em solid;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.25em 1em;
    border-radius: 00.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow:  inset 0px 0px 0.5em 0px var(--clr-neon), 0em 0em 0.5em 0 var(--clr-neon);
    position: relative;
    transition: background-color 100ms linear;
}
.addCart:hover{
    color: black;
    background: var(--clr-neon);
    text-decoration: black;
}